.description-team {
  font-size: 1.6rem;
  font-family: "Poppins";
  margin-top: 2.5rem;
}

.names-team {
  color: #133936;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 3rem;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!! Imágenes */

.img-aboutUs {
  border-radius: 1rem;
}

.image-container {
  width: 45rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}


.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-container-aspect {
  width: 100%;
  padding-top: 66.66%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.image-container-aspect img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-container-team {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-container-team img[alt="Betzabet"] {
  object-position: center top;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Íconos sociales */
.icons-team {
  color: #133936;
  margin-bottom: 1.5rem;
}

/*!!!!!!!!!!!!!!!!!!!! Media Queries para móviles */

@media (max-width: 768px) {
  .description-team {
    font-size: 1.4rem;
    text-align: justify;
    padding: 0 1rem;
  }

  .names-team {
    font-size: 2rem;
    text-align: center;
  }

  .image-container {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .image-container-team {
    width: 18rem;
    height: 18rem;
  }
}