
.register-wrapper {
 display: flex;
height: 100vh;
 overflow: hidden;
}

.register-image {
 flex: 1;
 display: flex;
 align-items: stretch;
}

.image-register {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-form-container {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 6rem; 
}

.register-title {
  font-family: "Avigea", serif;
  color: #133936;
  font-size: 6rem;
  margin-bottom: 3rem;
  text-align: center;
  margin: 1rem 0 3rem;
}

.label-name {
  font-family: "Poppins";
  color: #133936;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.name-input,
.general-input {
  background-color: #d9d9d9;
  width: 100%;
  height: 4.5rem;
  border-radius: 3rem;
  font-family: "Poppins";
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 1px 1px 1px #0000004e;
}

.button-register {
  background-color: #133936;
  color: aliceblue;
  width: 100%;
  height: 5rem;
  border-radius: 3rem;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 600;
  border: none;
  box-shadow: 0px 1px 1px 1px #0000004e;
}

.button-register:hover {
  background-color: #998F76;
}

.p-login {
  color: #133936;
  font-family: "Poppins";
  margin-top: 1rem;
  font-size: 2rem;
}

.login {
  color: #133936;
  font-weight: bold;
  font-family: "Poppins";
  font-size: 2rem;
}

.login:hover {
  text-decoration: underline;
}

.invalid-feedback{
font-size: 2rem;
font-family: "poppins";
}



@media (max-width: 768px) {
  .register-wrapper {
    flex-direction: column;
    height: auto;
  }

  .register-form-container {
    padding: 2rem;
    order: 1;
  }

  .register-image {
    height: 200px; /* banner-style */
    order: 2;
  }

  .image-register {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}